<div class="" style="display: inline-block">
    <div class="card-header border-light">
        {{#each stories}}

        <a href={{this.link}}>
            <h1 class="title">{{this.article}}</h1>
        </a>
        {{/each}}
    </div>
</div>